.Cake {
  position: relative;
  padding: 10px;
  margin: 10px;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 5px;
}

.Cake-remove,
.Cake-finish,
.Cake-edit {
  position: absolute;
  color: white;
  background: #d32f2f;
  right: 25px;
  bottom: 25px;
  font-size: 1.5rem;
  border-radius: 50px;
  height: 50px;
  width: 50px;
}

.Cake-edit {
  right: 85px;
  background: #1976D2;
}

.Cake-finish {
  right: 85px;
  background: #388e3c;
}

.Cake-title {
 text-transform: capitalize;
}

.Cake-image {
  width: 100%;
}
